@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Hero {
    height: 640px;
    display: flex;
    padding: 0 6%;
    border-bottom: 1px solid #484848;

    .Hero-Left {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .Title {
            font-family: "Bebas Neue", sans-serif;
            font-size: 80px;
            color: #ffffff;
        }

        .SubTitle {
            line-height: 28px;
        }

        .Buttons {
            margin-top: 30px;
            height: 50px;
            display: flex;
            align-items: center;
            gap: 2%;

            button {
                border: none;
                outline: none;
                @include flex;

                &:first-child {
                    background-color: #f1b739;
                    width: 150px;
                    border-radius: 20px;
                    height: 70%;
                    color: #1A1A1A;
                    font-weight: 800;
                    letter-spacing: 1.1px;

                    .Dot {
                        height: 25px;
                        width: 25px;
                        background-color: #1A1A1A;
                        border-radius: 50%;
                        margin-left: 5%;
                        @include flex;
                    }
                }

                &:nth-child(2),
                &:last-child {
                    height: 32px;
                    width: 32px;
                    border-radius: 100%;
                    background-color: #2e2d2d;

                }
            }
        }
    }

    .Hero-Right {
        width: 50%;
        height: 100%;
        @include flex;
    }
}

// MEDIA QUERIES
@media screen and (max-width:920px) {
    .Hero {
        height: 600px;

        .Hero-Left {
            .Title {
                font-size: 60px;
            }

            .SubTitle {
                font-size: 15px;
            }
        }


        .Hero-Right {
            img {
                height: 60%;
                width: 85%;
            }
        }
    }
}

@media screen and (max-width:680px) {
    .Hero {
        height: auto;
        flex-direction: column;

        .Hero-Left {
            width: 100%;

            .Buttons {
                gap: 4%;
            }
        }

        .Hero-Right {
            height: 360px;
            margin-top: 60px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            img {
                width: 80%;
                height: 80%;
                min-width: 180px;
            }
        }
    }
}

@media screen and (max-width:450px) {
    .Hero {

        .Hero-Left {
            .Buttons {
                button {
                    &:first-child {
                        width: 180px;
                        gap: 15%;
                    }

                    &:not(:first-child) {
                        border: 1px solid #a09e9e;
                        background-color: #1b1b1b;

                        img {
                            height: 20px;
                        }
                    }
                }
            }
        }

        .Hero-Right {
            margin-top: 30px;

            img {
                height: 85%;
                width: 90%;
            }
        }
    }
}