.Footer {
    height: 580px;
    display: flex;
    padding: 60px 6%;


    .Footer-Left {
        height: 100%;
        width: 50%;

        .Left-First {
            font-family: "Bebas Neue", sans-serif;
            font-size: 50px;
            color: #ffffff;

        }

        .Left-Second {
            margin: 15px 0;
        }

        .Left-Third {

            ol {
                height: 100%;
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 300px;

                li {
                    list-style: none;
                }
            }
        }
    }

    .Footer-Right {
        height: 100%;
        width: 50%;
        margin-top: -30px;

        .Copyright {
            font-size: 16px;
            font-weight: 800;
            margin-top: 50px;
        }
    }
}

@media screen and (max-width:680px) {
    .Footer {
        display: flex;
        flex-direction: column;
        height: 800px;

        .Footer-Left {
            width: 100%;
            height: 30%;

            .Left-First {
                font-size: 40px;
            }

            .Left-Second {
                font-size: 15px;
            }
        }

        .Footer-Right {
            width: 100%;
            height: 70%;
        }
    }
}